html
    head
        title My App

    
    body(class=["BodyClass"])

        h1(id="header1")= title

        p   
            h3 This is section 1

            each val in about
                li= val
        